
body {
  margin: 0;
  background-color: #f0f0f0;
  color: #333;
}

header {
  background-color: #1b1b1b;
  width: 100%;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.titulo {
  color: white;
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin: 0;
}

section{
margin-top: 20px;

}

.producto{
  margin-top: 50px;
  text-align: center;
}

footer {
  background-color: #1b1b1b;
  color: white;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
}
